@font-face {
	font-family: 'iconfont';
	src:url('fonts/iconfont.eot?-lbb3wi');
	src:url('fonts/iconfont.eot?#iefix-lbb3wi') format('embedded-opentype'),
		url('fonts/iconfont.woff?-lbb3wi') format('woff'),
		url('fonts/iconfont.ttf?-lbb3wi') format('truetype'),
		url('fonts/iconfont.svg?-lbb3wi#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e801";
}
.icon-async:before {
	content: "\e824";
}
.icon-star:before {
	content: "\e825";
}
.icon-star1:before {
	content: "\e826";
}
.icon-thumbs-up:before {
	content: "\e80e";
}
.icon-thumbs-down:before {
	content: "\e80f";
}
.icon-quote-left:before {
	content: "\e810";
}
.icon-quote-right:before {
	content: "\e811";
}
.icon-edit:before {
	content: "\e82c";
}
.icon-zoom-in:before {
	content: "\e80a";
}
.icon-zoom-out:before {
	content: "\e80b";
}
.icon-angle-left:before {
	content: "\e804";
}
.icon-angle-right:before {
	content: "\e805";
}
.icon-angle-up:before {
	content: "\e806";
}
.icon-angle-down:before {
	content: "\e807";
}
.icon-refresh:before {
	content: "\e808";
}
.icon-help:before {
	content: "\e82d";
}
.icon-mobile:before {
	content: "\e827";
}
.icon-home-bd:before {
	content: "\e830";
}
.icon-power:before {
	content: "\e813";
}
.icon-location:before {
	content: "\e800";
}
.icon-dir-left:before {
	content: "\e82a";
}
.icon-dir-right:before {
	content: "\e829";
}
.icon-arrow-down:before {
	content: "\e80c";
}
.icon-heart-empty:before {
	content: "\e802";
}
.icon-ok:before {
	content: "\e812";
}
.icon-ok-bg:before {
	content: "\e814";
}
.icon-error:before {
	content: "\e815";
}
.icon-error-bg:before {
	content: "\e816";
}
.icon-help-bg:before {
	content: "\e817";
}
.icon-info-bg:before {
	content: "\e818";
}
.icon-warn-bg:before {
	content: "\e819";
}
.icon-clock:before {
	content: "\e82e";
}
.icon-list-grid:before {
	content: "\e82b";
}
.icon-list-text:before {
	content: "\e803";
}
.icon-ok-bd:before {
	content: "\e82f";
}
.icon-plus2:before {
	content: "\e828";
}
.icon-comment:before {
	content: "\e81a";
}
.icon-star-radius:before {
	content: "\e81b";
}
.icon-user:before {
	content: "\e81c";
}
.icon-search:before {
	content: "\e809";
}
.icon-msg:before {
	content: "\e81d";
}
.icon-plus-bg:before {
	content: "\e81e";
}
.icon-minus-bg:before {
	content: "\e81f";
}
.icon-set:before {
	content: "\e820";
}
.icon-right-circle:before {
	content: "\e821";
}
.icon-dir-down:before {
	content: "\e822";
}
.icon-dir-top:before {
	content: "\e823";
}
.icon-arrow-up:before {
	content: "\e80d";
}
.icon-home:before {
	content: "\e001";
}
.icon-home2:before {
	content: "\e002";
}
.icon-home3:before {
	content: "\e003";
}
.icon-home4:before {
	content: "\e01c";
}
.icon-img:before {
	content: "\e02c";
}
.icon-imgs:before {
	content: "\e02e";
}
.icon-music:before {
	content: "\e038";
}
.icon-video:before {
	content: "\e04c";
}
.icon-video-bd:before {
	content: "\e04d";
}
.icon-game:before {
	content: "\e051";
}
.icon-game-bd:before {
	content: "\e052";
}
.icon-mic:before {
	content: "\e06d";
}
.icon-layer-bd:before {
	content: "\e096";
}
.icon-layer:before {
	content: "\e097";
}
.icon-fold:before {
	content: "\e0a1";
}
.icon-fold-open:before {
	content: "\e0a2";
}
.icon-tag:before {
	content: "\e0b6";
}
.icon-tag-bd:before {
	content: "\e0b8";
}
.icon-barcode:before {
	content: "\e0be";
}
.icon-qrcode:before {
	content: "\e0bf";
}
.icon-shop-cart:before {
	content: "\e0c7";
}
.icon-tel:before {
	content: "\e0db";
}
.icon-tel-bd:before {
	content: "\e0e4";
}
.icon-msg-bg:before {
	content: "\e0ec";
}
.icon-msg-way:before {
	content: "\e0ed";
}
.icon-msg-open:before {
	content: "\e0ee";
}
.icon-loc:before {
	content: "\e0f5";
}
.icon-loc-bd:before {
	content: "\e0f6";
}
.icon-map:before {
	content: "\e0fc";
}
.icon-map-bd:before {
	content: "\e0fd";
}
.icon-clock2:before {
	content: "\e103";
}
.icon-timer:before {
	content: "\e10a";
}
.icon-keyboard:before {
	content: "\e11f";
}
.icon-phone:before {
	content: "\e125";
}
.icon-download:before {
	content: "\e132";
}
.icon-upload:before {
	content: "\e133";
}
.icon-back:before {
	content: "\e14b";
}
.icon-forward:before {
	content: "\e14c";
}
.icon-discuss:before {
	content: "\e152";
}
.icon-bubble:before {
	content: "\e15a";
}
.icon-bubble-bd:before {
	content: "\e15d";
}
.icon-user-thin:before {
	content: "\e185";
}
.icon-users:before {
	content: "\e186";
}
.icon-user-bg:before {
	content: "\e194";
}
.icon-user-bd:before {
	content: "\e195";
}
.icon-user-half:before {
	content: "\e196";
}
.icon-loading:before {
	content: "\e1a7";
}
.icon-loading2:before {
	content: "\e1b0";
}
.icon-find:before {
	content: "\e1ba";
}
.icon-enlarge:before {
	content: "\e1bf";
}
.icon-shrink:before {
	content: "\e1c0";
}
.icon-wrench:before {
	content: "\e1da";
}
.icon-set-bd:before {
	content: "\e1e2";
}
.icon-prize:before {
	content: "\e218";
}
.icon-trash:before {
	content: "\e24f";
}
.icon-trash-bd:before {
	content: "\e251";
}
.icon-plane:before {
	content: "\e25b";
}
.icon-list-ul:before {
	content: "\e29b";
}
.icon-list-ol:before {
	content: "\e29c";
}
.icon-grid:before {
	content: "\e2a0";
}
.icon-link:before {
	content: "\e2c9";
}
.icon-eye:before {
	content: "\e2dc";
}
.icon-eye-dis:before {
	content: "\e2dd";
}
.icon-eye-bd:before {
	content: "\e2de";
}
.icon-eye-bd-dis:before {
	content: "\e2df";
}
.icon-star-empty:before {
	content: "\e2fc";
}
.icon-star-full:before {
	content: "\e2fd";
}
.icon-untitled4:before {
	content: "\e2fe";
}
.icon-smile:before {
	content: "\e31f";
}
.icon-smile-bd:before {
	content: "\e320";
}
.icon-sad-bd:before {
	content: "\e324";
}
.icon-sad:before {
	content: "\e325";
}
.icon-yes:before {
	content: "\e372";
}
.icon-yes-bd:before {
	content: "\e373";
}
.icon-minus:before {
	content: "\e375";
}
.icon-plus:before {
	content: "\e376";
}
.icon-circle-up-bd:before {
	content: "\e3c9";
}
.icon-circle-right-bd:before {
	content: "\e3cb";
}
.icon-circle-down-bd:before {
	content: "\e3cd";
}
.icon-circle-left-bd:before {
	content: "\e3cf";
}
.icon-circle-up:before {
	content: "\e3d1";
}
.icon-circle-right:before {
	content: "\e3d3";
}
.icon-circle-down:before {
	content: "\e3d5";
}
.icon-circle-left:before {
	content: "\e3d7";
}
.icon-code:before {
	content: "\e480";
}
.icon-ios:before {
	content: "\e4c6";
}
.icon-android:before {
	content: "\e4c8";
}
.icon-windows:before {
	content: "\e4c9";
}
.icon-chrome:before {
	content: "\e4ed";
}
.icon-firefox:before {
	content: "\e4ee";
}
.icon-ie:before {
	content: "\e4ef";
}
.icon-weibo:before {
	content: "\f18a";
}
.icon-qq:before {
	content: "\f1d6";
}
.icon-weixin:before {
	content: "\f1d7";
}
.icon-tencent-weibo:before {
	content: "\f1d5";
}
.icon-baidu:before {
	content: "\f1b0";
}
.icon-renren:before {
	content: "\f18b";
}
.icon-venus:before {
	content: "\f221";
}
.icon-mars:before {
	content: "\f222";
}
